<div class="row">
  <div class="col-sm-3">
    <%=image_tag avatar_get(current_user), class:'default-avatar'  %>
  </div>
  <div class="col-sm-9">
    <h3>Sorry, but u need to signin...<%= button_to 'Login', login_path, method: "get", class: 'btn btn btn-success login'%> </h3>
  </div>
</div>